# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dependencies
node_modules/

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Backups
*.bak
*.swp
*.swo
*~